package db

import (
	"database/sql"

	"github.com/go-sql-driver/mysql"
	"github.com/pkg/errors"
)

const driverName = `mysql`

var _db *sql.DB

func Init(c *mysql.Config) (err error) {
	if c == nil {
		c = &mysql.Config{
			User:      "root",
			Net:       "tcp",
			Addr:      "127.0.0.1:3306",
			DBName:    "apidb",
			ParseTime: true,
		}
	}

	dsn := c.FormatDSN()

	_db, err = sql.Open(driverName, dsn)
	if err != nil {
		return errors.Wrap(err, `connectiong database`)
	}
	return nil
}

func BeginTx() (*sql.Tx, error) {
	if _db == nil {
		return nil, errors.New(`database connection has not been initialized`)
	}
	tx, err := _db.Begin()
	if err != nil {
		return nil, errors.Wrap(err, `beginning transaction`)
	}
	return tx, nil
}
